select {
    display: block;
}

ul {
    list-style-type: none;
}

.foodtypes {
    display: inline-block;
    width: 10%;
    height: 8em;
    background-color: rgba(0, 4, 8, 0.5);
    background-color: rgb(245, 247, 250);
    border: 5px solid black;
}

.quantity_display {
    display: inline-block;
    border: 0.05em inset rgb(131, 170, 173);
    padding: 0.1em 0.3em 0.1em 0.3em;
}

#selected_items {
    float: right;
    width: 20%;
}

#available_fruits {
    display: none;
    width: 60%;
}